body {
  font-family: "Nunito";
  background-color: #f6faff;
}

.header {
  padding: 14px 0px;
  text-align: center;
}
.header h1 {
  font-weight: bold;
  font-size: 24;
}
.container {
  text-align: center;
}

.btn-status {
  width: 113px;
  height: 113px;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  margin: 20px auto;
  color: white;
  background-color: #5594fc;
}
